body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #2ec7e2;
    color: white;
    text-align: center;
    border-style: double;
    font-size:small;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #333;
}

p {
    color: #666;
}

#theorem-diagram {
    border: 1px solid #666;
    padding: 20px;
    margin-bottom: 20px;
    max-width: 100%;
    overflow: hidden;
    height: auto;
    text-align: center;
}

#image img {
    max-width: 100%;
    height: auto;
}


#proof-steps {
    border: 5px solid #666;
    padding: 20px;
    width: auto;
    height: auto;
    margin-top: auto;
}

.proof-step-button {
    margin-right: 10px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.activities-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ddd6d6;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(184, 182, 182, 0.1);
}

span.keyword {
    color: blue; /* Cambia el color de las palabras clave */
    font-weight: bold; /* Resalta las palabras clave en negrita */
  }

  #proof-container {
    display: flex;
    flex-direction: row;
}

#proof-steps {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

#hint {
    flex: 0.5;
    padding: 10px;
    border: 1px solid #ccc;
}

.highlighted {
    background-color: rgb(244, 222, 51); /* Cambia el color de fondo como desees */
    font-weight: bold; /* Texto en negrita */
    color: rgb(13, 13, 13); /* Color del texto */
    /* Otros estilos de resaltado */
}

